.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#plus-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    width: 610px;
    height: 610px;
    
    
    
  }

  #plus-container * {
    margin: 3px;

  }

  #nw {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    

  }

  #north {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-color: black;

  }

  #ne {
    width: 200px;
    height: 200px;

    

  }

  #west {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-color: black;

  }

  #center {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-color: black;

  }

  #east {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-color: black;

  }

  #sw {
    width: 200px;
    height: 200px;

    

  }

  #south {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-color: black;

  }

  #se {
    width: 200px;
    height: 200px;

    

  }

